@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
/* Responsive Design */
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .blurred-circle {
    width: 550px;
    height: 550px;
  }

  .icon-top-right,
  .icon-bottom-left {
    font-size: 5rem;
  }

  .btn-rounded {
    padding: 1rem 2.5rem;
  }
}
@media (min-width: 236px) {
  .subNav {
    width: 90%;
  }
  .see-resume {
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
    text-decoration: none;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 100%; /* Small devices (640px and up) */
  }
  .subNav {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 60%;
  }
  .see-resume{
    display: none;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 50%px;
  }
}
